<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audioguide Generator by The AudioBees</title>
</head>
<body>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/css/materialize.min.css">

<div class="container">
  <div class="row">
    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="##" class="brand-logo">Audioguide Generator</a>
        </div>
      </div>
    </nav>
  </div>

  <form class="col s8 offset-s2" name = sendInputs action = "/api/convert" method = "POST">
    <div class="row">
        <div class="input-field col s12">
          <textarea id="message" name="temp" class="materialize-textarea"></textarea>
          <label>Paste transcript here.</label>
        </div>
    </div>

    <div class="row">
        <div class="col s3">
            <label>Choose Background Music</label>
            <select id="music", name="temp2">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
      <div class="col s3">
        <label>Choose Rate</label>
        <p class="range-field">
          <input type="range" name="rate" id="rate" min="1" max="100" value="10" />
        </p>
      </div>

      <div class="col s3">
        <label>Choose Pitch</label>
        <p class="range-field">
          <input type="range" name="pitch" id="pitch" min="0" max="2" value="1" />
        </p>
      </div>
    </div>

    <button type="button" value="false" id="regularButton" onclick="change()">
        Convert
    </button>
  </form>

</div>

<script>
        function change() {
          var change = document.getElementById("regularButton");

          if (change.value == "false") {
            document.sendInputs.submit();
          } else {
            change.value = "true";
          }

        }
</script>

</body>
</html>