body.waves{
    background: url(waves.png) repeat 0 0;
    background-color:blue;
}

.col.s3 label {
    color: #4f462f;
    font-size: 16px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    text-align:center;
}

.col.s3{
    text-align:center;
}

.col.s12 a{
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    color: #4f462f;
}

button {
  background-color: #D9EFD3;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
}